
# Build Verzeinisse ausschlissen
build*/

latex*/
html*/
test_app*/
test*/

samples/versuche*/

# Verzeichnis wiki ausschliessen
wiki/

# no object-files
*.o

# no user Projekt-Files
*.user

# no doxygen
config_doxygen

# Hilfsdateien
set_group.sh
Readme.odt
todo.txt

# execute files
basic_test
short_sample
filtering
findcontours
imread
edge
demhist
HoughCircles
HoughLines
buildPyramid
lsd

